@font-face {
    font-family: 'nib';
    src: url("../fonts/nib-regular.eot");
    src: url("../fonts/nib-regular.eot?#iefix") format("embedded-opentype"),url("../fonts/nib-regular.woff2") format("woff2"),url("../fonts/nib-regular.woff") format("woff"),url("../fonts/nib-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: Stripes Sans;
    src: url(../fonts/stripes-sans.woff) format("woff");
    font-display: fallback;
    font-style: normal;
}

@font-face {
  font-family: 'NoWomanNoCry';
  src: url("../fonts/NoWomanNoCry-Regular/NoWomanNoCry-Regular.eot");
  src: url("../fonts/NoWomanNoCry-Regular/NoWomanNoCry-Regular.eot?#iefix") format("embedded-opentype"), url("../font/NoWomanNoCry-Regular/NoWomanNoCry-Regular.woff") format("woff"), url("../font/NoWomanNoCry-Regular/NoWomanNoCry-Regular.ttf") format("truetype"), url("../font/NoWomanNoCry-Regular/NoWomanNoCry-Regular.svg#4a3300ff35abd4b5f96c2dcc38e7efb7") format("svg");
  font-style: normal;
  font-weight: 400; 
  }

@font-face {
    font-family: 'lafabrique regular';
    src: url("../fonts/lafabrique-regular.eot");
    src: url("../fonts/lafabrique-regular.eot?#iefix") format("embedded-opentype"),url("../fonts/lafabrique-regular.woff2") format("woff2"),url("../fonts/lafabrique-regular.woff") format("woff"),url("../fonts/lafabrique-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}