html.has-scroll-smooth {
  overflow: hidden; }
html.has-scroll-dragging {
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }
[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; }
  .c-scrollbar:hover {
    transform: scaleX(1.45); }
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1); }
    [data-scroll-direction="horizontal"] .c-scrollbar:hover {
      transform: scaleY(1.3); }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: grab; }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: grabbing; }
  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0; }

body {
  margin: 0;
  padding: 0;
  color: #01020e;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  font-family: "Montserrat", sans-serif; }

#nav .nav-container {
  width: 100%;
  height: 90vh;
  min-height: 46rem;
  position: relative;
  font-size: 1rem;
  display: flex;
  justify-content: flex-end; }
  #nav .nav-container .header-title {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    position: absolute;
    perspective: 600px;
    -webkit-perspective: 600px;
    font-size: 13.5vw;
    opacity: 0;
    transition: opacity 4s;
    font-family: "Cabin", sans-serif; }

section {
  padding: 5px 40px;
  min-height: 70vh; }
  @media only screen and (min-width: 1000px) {
    section:not(#nav) {
      padding: 120px 40px; } }
  section.project {
    margin: 0 auto; }
  section .section-title {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 50px 0 20px 0;
    font-size: 1rem; }
  section .animated-title {
    font-family: "Cabin", sans-serif;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 32px; }
    @media only screen and (min-width: 1000px) {
      section .animated-title {
        font-size: 4rem;
        line-height: 120px;
        margin-bottom: 50px; } }
  section img {
    max-width: 50%; }
  section p {
    font-size: 1.5rem;
    max-width: 800px; }
  section .content {
    font-size: 24px;
    max-width: 800px;
    margin: 40px 0; }
  section a {
    color: #01020e;
    text-decoration: none; }
    section a:hover {
      text-decoration: underline; }

.appear {
  opacity: 1 !important; }

/*# sourceMappingURL=style.css.map */
